services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000" # Expose port 3000 on localhost
    environment:
      - NODE_ENV=production
    command: ["serve", "-s", "dist"]
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
